Build
target/
bin/
build/
dist/

IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sublime-project
*.sublime-workspace

OS
.DS_Store
Thumbs.db
desktop.ini

Logs
*.log
logs/

Temp files
*.tmp
*.temp

Maven
.mvn/
mvnw*